<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link href="./resources/css/style.css" rel="stylesheet">
        <link href="./resources/css/layout.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>Campuses</title>
    </head>

    <body>
        <h1>We Can Code Libraries</h1>

        <% if (messages.success) { %>
            <div class="alert alert-success" role="alert"><%- messages.success %></div>
        <% } %>

        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>

        <h2>
            <% for(var i = 0; i< data.length; i++) { %>
                <tr>
                    <th scope="row"><%= (i+1) %></th>
                    <td>
                        <a><%= data[i].location%></a>
                    </td>                   
                </tr>
            <% } %>
            </tbody>
        </h2>

        <form action="add-campus" method="POST">
            <input name="location" type="text" placeholder="add a campus">
            <button type="submit">Add Campus</button>
        </form>

    </body>

</html>